.header {
  height: var(--header-height);
  display: flex;
  align-items: center;
  position: relative;
  padding: var(--space-md) calc(var(--space-xl) * 2);
}

.headerWrapper {
  grid-template-columns: repeat(2, 1fr);
}

.headerLeft {
  gap: calc(var(--space-2xl) * 2.8);
}

.headerLeftListing {
  gap: calc(var(--space-2xl) + 10px);
}

.headerLink {
  position: relative;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  line-height: 2.8125;
}

.headerLink::before {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  height: 4px;
  background-color: var(--clr-primary);
  width: 0;
  transition: width 0.3s ease-in-out;
}

.headerLink.active::before {
  width: 100%;
}

.headerLink:hover::before {
  width: 100%;
}
